.sl-row {
    margin-right: -15px;
    margin-left: -15px;
}
[class^=sl-] {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}
.sl-row:after, .sl-row:before {
    display: table;
    content: " ";
    clear: both;
}
[class^=sl-]:after, [class^=sl-]:before {
    box-sizing: border-box;
}

@media (min-width: 992px)
.sl-col-12 {
    width: 100%;
}
@media (min-width: 992px)
.sl-col-1, .sl-col-10, .sl-col-11, .sl-col-12, .sl-col-2, .sl-col-3, .sl-col-4, .sl-col-5, .sl-col-6, .sl-col-7, .sl-col-8, .sl-col-9 {
    float: left;
}
.sl-col-1, .sl-col-10, .sl-col-11, .sl-col-12, .sl-col-2, .sl-col-3, .sl-col-4, .sl-col-5, .sl-col-6, .sl-col-7, .sl-col-8, .sl-col-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 6px 0;
}